/*bg body*/
body {
    background-image: url("../img/football.jpg");
    background-repeat: no-repeat;
    background-size: cover

}
//bg header
$bg-header: rgb(130, 24, 24);
//text color 
$text-color: rgb(255, 255, 255);
//color secundario
$color-secundario: rgb(121, 121, 121);